#banner{
	padding: 0px 0px 20px 0px;
}

#parentContainer{
	padding: 100px 15px 0px 15px;
}

#randButton{
cursor:pointer; 
padding:5px 25px; 
background:#35b128; 
border:1px solid #33842a; 
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
color:#f3f3f3;
font-size:1.1em;
}

#randButton:hover, randButton:focus{
background-color :#399630; 
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}